<div class="rowbox" style="width: 920px;"> 
  <h2>Highly Rated</h2>
  <%= render :partial => 'model_thumb' %>
  <%= render :partial => 'model_thumb' %>
  <%= render :partial => 'model_thumb' %>
</div>  
