<!-- Start Global Header -->
  <%= render :partial => 'layouts/header' %>
<!-- End Global Header -->

<br/><br/>
<div class="formbox" style="border: 0px; width: auto;">


  <h1>Frequently Asked Questions</h1>

  <br/>

  <a href="#what">What is MakeOne?</a>
  <br/>  
  <a href="#who">Who are the primary sponsors and contributors to MakeOne?</a>
  <br/>  
  <a href="#licensing">What are the open source licensing details associated with MakeOne?</a>
  <br/>  
  <a href="#use">Who can use MakeOne?</a>
  <br/>
  <a href="#models">Can I upload proprietary models to MakeOne?</a>
  <br/>
  <a href="#deploy">How do I deploy my own instance of MakeOne?</a>
  <br/>
  <a href="#contribute">How can I contribute to MakeOne?</a>
  <br/>  
  <a href="#arch">What is the architecture of MakeOne?</a>
  <br/>  

  <br/> 
  <br/> 

  <a name="what">
  <div class="question">
    What is MakeOne?
  </div>
  <div class="answer">
    MakeOne is a research project to investigate the use of Additive Manufacturing tools and technologies and their application toward military systems. The primary focus of the research is to investigate Distributed and Configurable Manufacturing (DaCM): a production and distribution model which allows goods to be produced locally (distributed) at or near their point of use, using manufacturing tools and methods that are highly flexible (configurable) in what they can make. This approach could result in a revolutionary way to do supply chain management.
 <p>
  The objectives of the project are:
<br/><br/>
<b>Primary Objectives:</b>
    <li>Demonstrate that Additive Manufacturing can reliably build parts with "good enough" operating parameters for a variety of operating environments
    <li>Demonstrate a model for predicting properties of a part produced using Additive Manufacturing before the part is produced
    <li>Prototype a capability for collecting and maintaining a versioned database of parts
    <li>Prototype a capability for sending a part to the printer over a web-service architecture
    <li>Investigate and document the challenges of using this technology in various military application areas 

<br/><br/>
<b>Secondary Objectives:</b>

    <li>Investigate the reality of an acquisition contract for CAD/MAD models instead of delivery of a physical system
    <li>Investigate the potential for embedded systems using 3D printers
    <li>Investigate the potential for biodegradable materials for disposable capabilities
    <li>Investigate a process for reliability testing
    <li>Investigate a process for digitizing parts 

  </div>


  <a name="who">
  <div class="question">
    Who are the primary sponsors and contributors to MakeOne?
  </div>
  <div class="answer">
    MakeOne is a research project sponsored by The MITRE Corporation working in collaboration with the University of Vermont. All software and data models have been open sourced and made publicly available and we encourage participation from the open source community. You can contact us here:
  </div>


  <a name="licensing">
  <div class="question">
    What are the open source licensing details associated with MakeOne?
  </div>
  <div class="answer">
    The MakeOne website and data model are licensed under the GNU Public License version 3.0 (GPLv3).
  </div>


  <a name="use">
  <div class="question">
    Who can use MakeOne?
  </div>
  <div class="answer">
    Anyone can use MakeOne for uploading, sharing, and discovering 3D models which can be sent to an Additive Manufacturing machine. In addition, anyone can download the code and deploy their own tailored instance of MakeOne for use in their own environment.
  </div>


  <a name="models">
  <div class="question">
    Can I upload proprietary models to the MakeOne website?
  </div>
  <div class="answer">
    No. We only allow models that are openly licensed to be uploaded and managed through the website. If you have private or proprietary models you wantto manage then download the MakeOne source code and follow our deploy guide to set up your own private instance.  
  </div>


  <a name="deploy">
  <div class="question">
    How can I deploy my own instance of MakeOne?
  </div>
  <div class="answer">
    Yes, simply follow our deploy guide to launch your own 3D data warehouse and start uploading parts!
  </div>


  <a name="contribute">
  <div class="question">
    How can I contribute to MakeOne?
  </div>
  <div class="answer">
    Whether you are an experienced developer or an end user just getting started with 3D printing, there are many ways to participate in the MakeOne project. 
  
   Develop
   Join the community
   Suggest new features
   Review or Write Documentation, Manuals, and Articles 
Design openSUSE Artwork
Localize openSUSE Specific Applications 
Test openSUSE and Report Bugs 
Be part of the Marketing team 
Design and add new models
Help keep the database current with the latest machines, materials, prices, and more

   

<!--http://en.opensuse.org/How_to_Participate-->
  </div>


  <a name="arch">
  <div class="question">
    What is the architecture of MakeOne?
  </div>
  <div class="answer">
    The MakeOne team has put a lot of time and effort into the overall architecture of their hardware and software. 
  </div>


</div>


<!-- Start Global Footer -->
  <%= render :partial => 'layouts/footer' %>
<!-- End Global Footer -->
