
<!-- Start Global Header -->
  <%= render :partial => 'layouts/header' %>
<!-- End Global Header -->
<br/><br/>
<h2>
MakeOne is a free and open architecture for <a href="/tracking">tracking</a>, <a href="/managing">managing</a>, <a href="/sharing">sharing</a>, and <a href="/printing">printing</a> 3D computer models. 
</h2>
<br/><br/>

<div class="left_col" style="width: 250px; text-align: left;">
  <a href="mailto:makeone411@googlegroups.com"><img alt="Join Announcement List" src="images/button.png" width="130"/></a>
  <br/>
  <img alt="Join Announcement List" src="images/button.png" width="130"/></a>
  <br/>
  <img alt="Join Announcement List" src="images/button.png" width="130"/></a>
  <br/>
  <img alt="Join Announcement List" src="images/button.png" width="130"/></a>
  <li>or send us feedback.</li>
  <li>learn more.</li>
</div>

<div class="right_col" style="width: 250px; text-align: left;">
  <h1>Roadmap</h1>
  <li>Milestone 1</li>
  <li>Milestone 2</li>
  <li>Milestone 3</li>
</div>


<div style="width: 600px; text-align: left;" class="formbox"> 
<h1>Featured Model</h1>

<!-- <h2>|<%= @feature %>|</h2> -->

<script language="JavaScript" type="text/javascript">
<!--
// Version check for the Flash Player that has the ability to start Player Product Install (6.0r65)
var hasProductInstall = DetectFlashVer(6, 0, 65);

// Version check based upon the values defined in globals
var hasRequestedVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);

if ( hasProductInstall && !hasRequestedVersion ) {
	// DO NOT MODIFY THE FOLLOWING FOUR LINES
	// Location visited after installation is complete if installation is required
	var MMPlayerType = (isIE == true) ? "ActiveX" : "PlugIn";
	var MMredirectURL = window.location;
    document.title = document.title.slice(0, 47) + " - Flash Player Installation";
    var MMdoctitle = document.title;

	AC_FL_RunContent(
		"src", "playerProductInstall",
		"FlashVars", "model=tetrahedron&MMredirectURL="+MMredirectURL+'&MMplayerType='+MMPlayerType+'&MMdoctitle='+MMdoctitle+"",
		"width", "500",
		"height", "300",
		"align", "middle",
		"id", "MakeOneViewer",
		"quality", "high",
		"bgcolor", "#ffffff",
		"model", "tetrahedron",
		"name", "MakeOneViewer",
		"allowScriptAccess","sameDomain",
		"type", "application/x-shockwave-flash",
		"pluginspage", "http://www.adobe.com/go/getflashplayer"
	);
} else if (hasRequestedVersion) {
	// if we've detected an acceptable version
	// embed the Flash Content SWF when all tests are passed
	AC_FL_RunContent(
			"src", "MakeOneViewer",
			"width", "500",
			"height", "300",
			"align", "middle",
			"id", "MakeOneViewer",
			"quality", "high",
			"bgcolor", "#ffffff",
			"model", "tetrahedron",
			"FlashVars", "model=tetrahedron",
			"name", "MakeOneViewer",
			"allowScriptAccess","sameDomain",
			"type", "application/x-shockwave-flash",
			"pluginspage", "http://www.adobe.com/go/getflashplayer"
	);
  } else {  // flash is too old or we can't detect the plugin
    var alternateContent = 'Alternate HTML content should be placed here. '
  	+ 'This content requires the Adobe Flash Player. '
   	+ '<a href=http://www.adobe.com/go/getflash/>Get Flash</a>';
    document.write(alternateContent);  // insert non-flash content
  }
// -->
</script>
<noscript>
  <object style="border: 1px solid gray;" 
          classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
          id="MakeOneViewer" width="500" height="300"
          codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
    <param name="movie" value="http://localhost:3000/MakeOneViewer.swf" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="model" value="tetrahedron" />
    <param name="FlashVars" value="model=tetrahedron" />
    <param name="allowScriptAccess" value="sameDomain" />
    <embed src="http://localhost:3000/MakeOneViewer.swf" quality="high" bgcolor="#ffffff"
           width="500" height="300" name="MakeOneViewer" align="middle"
           play="true"
           loop="false"
           quality="high"
           allowScriptAccess="sameDomain"
           type="application/x-shockwave-flash"
           pluginspage="http://www.adobe.com/go/getflashplayer">
    </embed>
  </object>
</noscript>
<br/>
<br/>
<input id="download" class="classy" type="submit" value="Download" name="download" onclick="download()">
<input id="print" class="classy unclickable" type="submit" value="Print" name="print" disabled>
<input id="print" class="classy" type="submit" value="Branch" name="branch" onclick="branch()">

</div>

<%= render :partial => 'layouts/footer' %>
